

#hotel{
    box-shadow:5px 5px 20px;
    border-radius:15px;
    padding:20px;
    background-color:lightgrey;
    justify-content: space-evenly;
    color: rgb(0, 119, 255);
    display: none;
    margin-top: 40px;
  width:1100px; 
  flex-direction: row; 
  height: 1000px;
    
    
}
#cancel{
  display: inline-block;
  padding: 5px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(0, 119, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#cance{display: inline-block;
  padding: 5px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(0, 119, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}
#conf1{
  display: inline-block;
  padding: 5px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(0, 119, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#canc{
  display: inline-block;
  padding: 5px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(0, 119, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#con{display: inline-block;
  padding: 5px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(0, 119, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;



}
#conf{
  display: inline-block;
    padding: 5px 15px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#hiking{box-shadow:5px 5px 20px;
  border-radius:15px;
  padding:20px; 
  margin-left: 30px;
  background-color:lightgrey;
  justify-content: space-evenly;
  color: rgb(0, 119, 255);
  display: none;
  margin-top: 20px;
  width:1000px; 
  height: 800px;
}
#historical{box-shadow:5px 5px 20px;
  border-radius:15px;
  padding:20px;
  background-color:lightgrey;
  justify-content: space-evenly;
  color:  rgb(0, 119, 255);
  display: none;
  margin-top: 20px;
  width:1000px; 
  height: 800px;

}
#culture{
  box-shadow:5px 5px 20px;
  border-radius:15px;
  padding:20px;
  background-color:lightgrey;
  justify-content: space-evenly;
  color: rgb(0, 119, 255);
  display: none;
  margin-top: 20px;
  width:1000px; 
  height: 800px;
  

}
.check{
  display: none;
  box-shadow:5px 5px 20px;
  border-radius:15px;
  padding:20px;
width: 300px;
  background-color:lightgrey;
  justify-content: space-evenly;
  color:  rgb(0, 119, 255);
  display: none;
  margin-top: -600px;
  margin-left:100px
 

}
#history1{display: none;
  position: absolute;
  top: 110%;
  color rgb(0, 119, 255);
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.6;
  margin-left:150px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.confirm{
  display:none;
  box-shadow:5px 5px 20px;
  border-radius:15px;
  padding:20px;
width: 300px;
  background-color:lightgrey;
  justify-content: space-evenly;
  color:  rgb(0, 119, 255);
  display: none;
  margin-top: -600px;
  margin-left:500px
}
.Verfy1{
  display: none;
  box-shadow:5px 5px 20px;
  border-radius:15px;
  padding:20px;
width: 300px;
  background-color:lightgrey;
  justify-content: space-evenly;
  color: rgb(0, 119, 255);
  display: none;
  margin-top: -500px;
  margin-left:500px
}
.Verfy{
  display: none;
  box-shadow:5px 5px 20px;
  border-radius:15px;
  padding:20px;
width: 300px;
  background-color:lightgrey;
  justify-content: space-evenly;
  color:  rgb(0, 119, 255);
  display: none;
  margin-top: -600px;
  margin-left:500px
}
#culture1{display: none;
  position: absolute;
  top: 110%;
  color: rgb(0, 119, 255);
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.6;
  margin-left:150px;
  justify-content: center;
  align-items: center;
  text-align: center;

}
#hike1{display: none;
  position: absolute;
  top: 110%;
  color: rgb(0, 119, 255);
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.6;
  margin-left:200px;
  justify-content: center;
  align-items: center;
  text-align: center;

  }
  #book{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  #book1{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

  }
  #book2{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

  }
 
  
  #book3{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

  }
  #book:hover,#book1:hover,#book2:hover,#book3:hover{
    background-color: lightblue}
    #book:active,#book1:active,#book2:active,#book3:active{
      background-color: black;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  

.Icon{
    display: flex;
    flex-direction:row;
     justify-content:space-evenly;
     padding: 20px;
     box-shadow:5px 5px 20px;
    border-radius:15px;
    background-color:lightgrey;
    justify-content: space-evenly;
    color: rgb(0, 119, 255); 
    font-size:0%px;
  }
 
.Booking{
    box-shadow:5px 5px 20px;
    border-radius:15px;
    padding:20px;
   
    margin-top: 200px;
    margin-right: 800px;
    background-color:lightgrey;
    justify-content: space-evenly;
    color:rgb(0, 119, 255); 
}
.positionlogo{
    justify-content: center;
  align-items: center;
  text-align: center;
  }
.logo{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 26px;}

 .head{
    margin-top: 900px;
 }
 h1{
     text-align: center;
 }
 #home{
    
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:url(image/ny.jpeg)no-repeat;
     background-size: cover;
     color:black;
    
   
   
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
  .container-fluid,.container{
    width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  }
  .row mb-5{

  }
  .footer{
    background-color: rgb(27, 36, 36);
    background-size: contain;
    position: relative;
    
}
  .nav-link{
    text-decoration: none;
  }
  .container-fluid .navbar{

    padding-top: 0rem;
     padding-left: 50%;  
     background-color: #0074B7;
 }
   .container-fluid .navbar .nav-link{
     color:white;
     font-weight: bold;
     font-style: oblique;
     font-size: 16px;
     
   }
  .jumbotron-fluid{
    padding-right: 0;
  padding-left: 0;
  border-radius: 0;

  }

  a:hover{
    background-color:  rgb(77, 107, 107);
}


  .nav{
    display: block;
  }
  .navbar{
    position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  }
  .paragraph{
    display: flex;
     flex-direction:column;
      justify-content:space-evenly;
      padding: 20px;
      text-align:center;
   }
   #size{
    font-size:20px;
    
   
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  @media (min-width: 576px) {
    .container, .container-sm {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container, .container-sm, .container-md {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1140px;
    }
  }
  